.gb_task_tree_finished_icon{
	color: #2AAA8A;
}


.gb_task_tree_delay_icon{
	color: #F0E130;
}

.gb_task_milestone_icon{
	color: #AAFF00;
}

.gb_task_on_hold_icon{
	color: #000000;
}

.gb_task_overdue_icon{
	color: #FF0000;
}

.gb_task_tree_ahead_of_schedule_icon{
	color: #0000FF;
}
